[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
twine = "*"
pytest = "*"
pytest-benchmark = {extras = ["histogram"], version = "*"}
maturin = ">=0.10.6,<0.11.0"
pandas = "*"
black = "*"
flake8 = "*"
memory-profiler = "*"
matplotlib = "*"
rdp = "*"

[scripts]
format = "python -m black test_options.py -l 119 -t py38"
lint = "python -m flake8 test_options.py --max-line-length 119"
